<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../attachment/images/hughefner.png">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/ayuda.css">
    <title>Ayuda</title>
</head>

<body>
    <header>
        <a href="../index.html">
            <div class="logo" data-aos="flip-up"></div>
        </a>
        <i class="fa-regular fa-user fa-2x" id="userIcon"><label id="userName"></label></i>
    </header>
    <div class="helpContainer">
        <div class="informationPart">
            <h1>Contactanos</h1>
            <p>Si tienes problemas con alguno de nuestros servicios no dudes en contactarnos</p>
            <div class="informationContact">
                <h2>Nuestros canales virtuales</h2>
                <div class="socialNetwork">
                    <a href=""><i class="fa-brands fa-twitter fa-2xl"></i></a>
                    <a href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
                    <a href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                </div>
                <h2>Informacion de contacto</h2>
                <h4>Correo</h4>
                <p>benderPlus@gmail.com</p>
                <h4>Dirección</h4>
                <p>Tv. 51a #67B 90, Laureles - Estadio</p>
                <h4>Telefono</h4>
                <p>4487666</p>
            </div>
        </div>
    </div>
</body>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
<script src="https://kit.fontawesome.com/03ce1c2806.js" crossorigin="anonymous"></script>
<script src="../static/js/credenciales.js"></script>
<script src="../static/js/ayuda.js"></script>

</html>