<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="../attachment/images/hughefner.png">
    <title>Login</title>
</head>

<body>
    <section class="containerBackground">
        <div class="containerBox">
            <div class="Columnform">
                <div class="containerBorder">
                    <div class="contextBody">
                        <div class="containerRow">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="containerText">Login</p>
                                <form target="_blank" class="mx-1 mx-md-4">
                                    <div class="containerDiv">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" class="form-control" id="inputEmail" />
                                            <label class="form-label" for="form3Example3c">Tu correo</label>
                                        </div>
                                    </div>
                                    <div class="containerDiv">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="inputPassword" class="form-control" />
                                            <label class="form-label" for="form3Example4c">Contraseña</label>
                                        </div>
                                    </div>
                                    <!--Disable Error-->
                                    <div class="containerButton">
                                        <button type="button" class="btnLogIn" id="btnUserLog">Ingresar</button>
                                        <div class="espacio"></div>
                                        <a class="btnLogIn" href="../index.html">Volver</a>
                                    </div>
                                    <div class="link">
                                        <label>¿Es tu primera vez?</label><a href="#">Ingresa aqui</a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="../attachment/images/LogoBender.png" class="imgLogo" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<!-- Script -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../static/js/login.js"></script>

</html>