<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../attachment/images/hughefner.png">
    <link rel="stylesheet" href="../static/css/preguntasFrecuentes.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>PQR</title>
</head>

<body>
    <header>
        <a href="../index.html">
            <div class="logo" data-aos="flip-up"></div>
        </a>
        <i class="fa-regular fa-user fa-2x" id="userIcon"><label id="userName"></label></i>
    </header>
    <div class="container">
        <div class="row">
            <div class="container-faq">
                <div class="title-faq">
                    <h3>Preguntas Frecuentes</h3>
                </div>

                <div class="item-faq">
                    <div class="question">
                        <h3>¿Qué tipos de robots ofrecen para la venta y renta? <span>P</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class="answer">
                        <p>Ofrecemos una amplia variedad de robots para la venta y renta, incluyendo robots de servicio
                            y mucho más. Puedes explorar nuestro catálogo en línea para ver todas las opciones
                            disponibles.<span>R</span></p>
                    </div>
                </div>
                <div class="item-faq">
                    <div class="question">
                        <h3>¿Cuáles son las ventajas de rentar un robot en lugar de comprarlo? <span>P</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class="answer">
                        <p>La principal ventaja de rentar un robot es la flexibilidad. Puedes adaptar tu flota de robots
                            según tus necesidades sin una inversión inicial significativa. Además, incluimos
                            mantenimiento y soporte técnico en nuestros contratos de alquiler.<span>R</span>
                        </p>
                    </div>
                </div>

                <div class="item-faq">
                    <div class="question">
                        <h3>¿Cómo funciona el servicio de reparación y mantenimiento de los robots? <span>P</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class="answer">
                        <p>Nuestro servicio de mantenimiento cubre todas las necesidades de tus robots. Realizamos
                            mantenimiento preventivo regularmente y ofrecemos soporte técnico rápido en caso de
                            problemas. Si un robot requiere reparaciones, nuestros técnicos altamente capacitados se
                            encargarán de ello.<span>R</span></p>
                    </div>
                </div>

                <div class="item-faq">
                    <div class="question">
                        <h3>¿Cómo se maneja la logística de entrega y devolución de los robots alquilados?
                            <span>P</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class="answer">
                        <p>Gestionamos la logística de entrega y devolución de los robots de manera eficiente. Nuestro
                            equipo se encargará de la entrega inicial y la recogida al final del contrato en la
                            dirección que nos indiques.<span>R</span></p>
                    </div>
                </div>

                <div class="item-faq">
                    <div class="question">
                        <h3>¿Pueden personalizar robots según las necesidades personales? <span>P</span></h3>
                        <div class="more"><i>+</i></div>
                    </div>
                    <div class="answer">
                        <p>Sí, ofrecemos soluciones de personalización para adaptar los robots a las necesidades
                            específicas de cada usuario. Nuestro equipo de ingenieros trabajará contigo para desarrollar
                            robots a medida que se ajusten a tus requisitos exactos.<span>R</span></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
<script src="https://kit.fontawesome.com/03ce1c2806.js" crossorigin="anonymous"></script>
<script src="../static/js/credenciales.js"></script>
<script src="../static/js/preguntasFrecuentes.js"></script>

</html>