<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bender+</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/services.css">
    <link rel="icon" type="image/x-icon" href="../attachment/images/hughefner.png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
        <a href="../index.html">
            <div class="logo" data-aos="flip-up"></div>
        </a>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <i class="fa-regular fa-user fa-2x" id="userIcon"><a class="nombreUsuario"></a></i>
        <div class="opciones">
            <nav class="menu">
                <a href="../index.html">Inicio</a>
                <a href="./services.html">Servicios</a>
                <a href="#producto">Productos</a>
                <label for="check" class="esconder-menu">
                    &#215
                </label>
            </nav>
        </div>
    </header>
    <section id="servicios">
        <h2 class="servicios-titulo">Servicios</h2>
        <div class="carrusel-servicios">
            <div data-aos="fade-up">

                <img src="../attachment/images/juegodeazar.jpg" alt="">
                <h4>Juegos de Azar</h4>
                <p> Gana premios y vive la experiencia de azar del mañana.</p>
                <a href="#" class="boton-saber-mas building">Saber más</a>
            </div>
            <div data-aos="fade-up">

                <img src="../attachment/images/citasrobot.jpg" alt="">
                <h4>Simulador de Citas</h4>
                <p> Explora relaciones virtuales con robots diseñados para adaptarse a tus preferencias.</p>
                <a href="#" class="boton-saber-mas building">Saber más</a>
            </div>
            <div data-aos="fade-up">

                <img src="../attachment/images/clubbaile.jpg" alt="">
                <h4>Club de Baile Virtual</h4>
                <p> Baila y disfruta en un club nocturno digital donde los robots son las estrellas de la pista.</p>
                <a href="#" class="boton-saber-mas building">Saber más</a>
            </div>
            <div data-aos="fade-up">

                <img src="../attachment/images/snusnu.jpg" alt="">
                <h4>Muerte por snu snu</h4>
                <p> Una sentencia que se le da a los hombres en el planeta Amazonia, una sentencia que consiste en tener
                    relaciones sexuales con el condenado hasta que este pierda la vida.</p>
                <a href="#" class="boton-saber-mas building">Saber más</a>
            </div>
            <div data-aos="fade-up">

                <img src="../attachment/images/funny.jpg" alt="">
                <h4>Talleres de Personalización</h4>
                <p>Diseña y personaliza tu propio robot virtual según tus deseos y especificaciones. Elige
                    características, personalidades y más.</p>
                <a href="#" class="boton-saber-mas building">Saber más</a>
            </div>
        </div>
    </section>
    <!--Seccion de producto-->
    <section id="robots-section ">
        <h2 class="robot-title">Mujerzuelas</h2>
        <div class="bots-cards-container"></div>

    </section>
    <footer>
        <p>&copy2023 DiseñoSoft</p>
    </footer>
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../static/js/pageppl.js"></script>
    <!-- https://michalsnik.github.io/aos/ -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/6b77486424.js" crossorigin="anonymous"></script>
    <script>
        AOS.init();
        </script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <script src="../static/js/credenciales.js"></script>
    <script src="../static/js/services.js"></script>
    <script src="../static/js/carrusel.js"></script>
    <script src="../static/js/cerrarSesion.js"></script>
</body>

</html>